section{
    border: 3px solid #333;
}
section:nth-child(1){
    width: 600px;
    height: 400px;
    float: left;
}
section:nth-child(2){
    float: right;
    padding: 10px;
} 
img{
    width: 500px;
    height: 325px;
}