*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5vw;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 119, 255), rgb(221, 237, 255));
}

h1{
    font-size: 4.5rem;
    margin-bottom: 10rem;
    text-align: center;
    color: white;
}

mark {
    background: none;
}

.signin{
    width: 40%;
    margin: 1rem auto;
}



.signin>*:not(h1){
    display: block;
    margin: 10px auto 40px;
    text-align: center;
    border: 2px solid gray;
}

input[type="text"]{
    height: 3rem;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
}

button{
    opacity: 0.7;
    line-height: 2.5rem;
    width: 12rem;
    font-size: 1.5rem;
}

button:active{
    box-shadow: none;
    background: gray;
    color: white;
    box-shadow: none;
}

.gaming, .records {
    margin-top: 150px;
        display: none;
}

.gaming {
    width: 60vw;
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold
}

.name mark{
    font-weight: bold;
    color: white;
}

main {
    /* width: 60vw; */
    margin-top: 2rem;
    height: 60vh;
    background: url(../img/background-gaming/1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

main img {
    width: 8%;
    height: 8%;
}





