* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body>header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 60%;
    margin: auto;
    font-weight: bold;
    margin-top: 1rem;
}

.logo h1 {
    width: 20rem;
    line-height: 1.8rem;
}

.logo a{
    display: flex;
    align-items: flex-end;
    padding-bottom: 35px;

}

a {
    color: black;
    text-decoration: none;

}

.logo a img {
    height: 5rem;

}

header .play-mode {
    font-size: 1.3rem;
    align-self: flex-start;
    margin-top: 30px;
}


.play-mode img {
    display: none;
    width: 30px;
    margin: 10px auto 0;
}

.textarea {
    display: block;
    word-break: break-all;
    margin: 20px auto;
    font-size: 1.5vw;
    width: 60%;
    height: 20vh;
    resize: none;
    padding: 13px 0 0 4vw;
    letter-spacing: 1.5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0.6;
}

.textarea mark {
    display: inline;
    background: none;
    border: 1px solid gray;
}

main header {
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    width: 50%;
    margin: 10% auto 0;
}

main header p:first-child{
    margin-right: auto;
    color: rgb(88, 88, 88);
    
}

main header p:nth-of-type(2){
    display: block;
    line-height: 1rem;
    width: 250px;
}

main header p mark {
    background: none;
    display: none;
}

main header p .speedValue{  
  margin-left: 12px;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 5px;
}

main header span {
    align-self: center;
}


